@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply flex min-h-screen flex-col bg-violet bg-[url('./assets/images/background-stars.svg')] font-paragraph text-[0.8750em] tracking-[0.05em] text-white;
  }
}

@layer utilities {
  .heading {
    @apply font-heading text-[3rem] uppercase md:text-[5rem];
  }

  .heading-2 {
    @apply font-heading uppercase -tracking-[0.025em];
  }

  .heading-3 {
    @apply font-paragraph font-bold uppercase tracking-[0.1625em];
  }

  .heading-4 {
    @apply font-paragraph font-bold uppercase tracking-[0.1em];
  }

  /* https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element/53336754#53336754 */
  .filter-dark-gray {
    filter: invert(60%) sepia(0%) saturate(2951%) hue-rotate(348deg)
      brightness(101%) contrast(88%);
  }

  .nav-link {
    position: relative;
  }

  .nav-link:before {
    content: "";
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
    height: 4px;
    transition: all 0.2s ease-in-out;
  }

  .category-link {
    position: relative;
  }

  .category-link:before {
    content: "";
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
    height: 4px;
    transition: all 0.2s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animated {
    animation: fadeIn 0.5s ease-in-out;
  }
}
